:root {
    --green: #c7efcf;
    --salmon: #fe5f55;
    --orange: #f0b67f;
    --olive: #d6d1b1;
    --whiteish: #eef5db;
  }

body {
    background-color: var(--green);
}

header {
    color: var(--salmon);
    font-family: Rubik;
    font-size: 40px;
    text-align: center;
}

.week-columns {
    display: flex;
    flex-direction: column;
}

.day-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.meal-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

textarea {
    background-color: var(--olive);
    border: none;
    width: 100%;
}

.square {
    width: 10%;
    padding: 5px;
    margin: 5px;
}

.one-week {
    text-align: center;
    margin-top: 50px;
}